body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.blue {
    color: #00a1ff;
}

.center {
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
}
